.reg {
  position: relative;
  background-image: url('bag_img.jpg'); /* Replace 'your-background-image.jpg' with the path to your image */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: -40px;
  padding-bottom: 50px;
  height: 790px;
}

.reg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 192, 192, 0.4); /* Background color with 0.5 opacity */
  opacity: 0.5; /* Opacity for the background image */
  z-index: 1; /* Set z-index to ensure the overlay is behind the content */
}

.ocean-base-container
{
  position: absolute; /* Set position to relative */
  z-index: 2; /* Set z-index to ensure the content is above the overlay */
  width: 100%;
  max-width: 400px;
  margin-top: 160px;  
  margin-left: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); /* Example background color for the content area */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
.oce-base-container {
  position: absolute; /* Set position to relative */
  z-index: 2; /* Set z-index to ensure the content is above the overlay */
  width: 100%;
  max-width: 400px;
  margin-top: 200px;
  margin-left: 600px;
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5); /* Example background color for the content area */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}


.oce {
  width: 100%;
  height :auto;
  object-fit: cover; 
  display: block;
  margin: 0 auto 20px;
  border-radius: 8px;
}

.ocean-login-form label {
  margin-top: 30px;
  color: rgb(227, 202, 186);
  font-weight: bold;
  margin-left: 150px;
  font-size: 20px;
}

.ocean-login-form input {
  width:80%;
 padding-left: -40px;
 margin-left: 35px;
 margin-top: 10px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.ocean-login-form button {
  width: 70%;
  padding: 10px;
  margin-top: 20px;
  margin-left: 60px;
  border: none;
  border-radius: 5px;
  background-color: #1b1510;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.ocean-login-form button:hover {
  background-color: #1b1510; /* Darker blue on hover */
}

.ocean-login-link1 {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.ocean-login-link1 a {
  color:  #ffb781; /* Blue link */
  font-size: 20px;
  text-decoration: none;
}


/* OceanRegisterStyles.css */



.ocean-login-image {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 20px;
  border-radius: 8px;
}

.ocean-register-form label {
  margin-bottom: 20px;
  color: rgb(227, 202, 186);
  font-weight: bold;
  margin-left: 150px;
  font-size: 20px;
}

.ocean-register-form input {
  width:80%;
 padding-left: -40px;
 margin-left: 35px;
  margin-bottom: 20px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.ocean-register-form button {
  width: 70%;
  padding: 10px;
  margin-top: 10px;
  margin-left: 60px;
  border: none;
  border-radius: 5px;
  background-color: #1b1510;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.ocean-register-form button:hover {
  background-color: #1b1510;
}

.ocean-error-message {
  color: #442b11;
  margin-top: 10px;
}

.ocean-login-link {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}

.ocean-login-link a {
  color: #efbd77;
  font-size: 20px;
  text-decoration: none;
}
