/* Container for the home page */
.adhome {
    position: relative; /* Ensure proper positioning for the pseudo-element */
    height: 100vh; /* Adjust height as needed */
}

/* Pseudo-element for the background */
.adhome::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('blue5.avif');
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Opacity for the background image */
    z-index: -1; /* Ensure the background is behind other content */
}

/* Create New Gift button */
.create-gift-button {
    margin-top: 20px;
    padding:18px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: #203d59; /* Primary button color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-gift-button:active {
    transform: translateY(1px);
}

/* Title style */
.home-containerrr {
    margin: 20px auto;
    padding: 20px;
    width: 1500px; /* Adjust container width */
}
.home-containerrr h1 {
    text-align: center;
    color: #000000;
}

/* Table style */
.gifts-list .table td button {
    margin-right: 5px;
    padding: 12px 20px;
    background-color: #324b6b;
    border: none;
    color: #ffffff;;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.gifts-list .table td button:hover {
    background-color: #d47d36;
    color: rgb(0, 0, 0);
}

.gifts-list .table td button:active {
    transform: translateY(1px);
}

.gifts-list .table {
    width: 100%;
    border-collapse: collapse;
}

.gifts-list .table th,
.gifts-list .table td {
    padding: 18px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
}

.gifts-list .table th {
    background-color: #324b6b;
    color: #ffffff;
    font-size: 20px;
}

/* Button style */
.gifts-list .table td button {
    margin-right: 5px;
}

/* New Gift Details section style */
.new-gift-details {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.new-gift-details h2 {
    font-size: 20px;
    color: #333;
}

.new-gift-details .table {
    width: 100%;
    border-collapse: collapse;
}

.new-gift-details .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.new-gift-details .table td:first-child {
    font-weight: bold;
    color: #555;
}
