.thhome {
    position: relative; /* Ensure proper positioning for the pseudo-element */
    height: 100vh; /* Adjust height as needed */
}

/* Pseudo-element for the background */
.thhome::before {
    content: ""; /* Required for pseudo-elements */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('gate.webp');
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Opacity for the background image */
    z-index: -1; /* Ensure the background is behind other content */
}
  /* Create New Theme button */
  .create-theme-button {
    margin-top: 20px;
    padding:18px 30px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #000000; /* Primary button color */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .create-theme-button:hover {
    background-color: #000000; /* Darker shade on hover */
  }
  
  .create-theme-button:active {
    transform: translateY(1px);
  }
  
  /* Home container */
  .home-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
  }
  
  /* Title style */
  .home-container h1 {
    text-align: center;
    color: #333;
  }
  
  /* Table style */
  .themes-list .table td button {
    margin-right: 5px;
    padding: 12px 20px;
    background-color: #615619;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .themes-list .table td button:hover {
    background-color:  #615619;
    color: rgb(0, 0, 0);
  }
  
  .themes-list .table td button:active {
    transform: translateY(1px);
  }
  
  .themes-list .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .themes-list .table th,
  .themes-list .table td {
    padding: 8px;
    border-bottom: 2px solid #ddd;
    text-align: left;
    font-size: 20px;
    color: #000000;
    font-weight: bolder;
  }
  
  .themes-list .table th {
    background-color: #7b6f28;
    color: #000000;
    font-size: 20px;
}

/* Button style */
.themes-list .table td button {
    margin-right: 5px;
}

/* New Theme Details section style */
.new-theme-details {
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
}

.new-theme-details h2 {
    font-size: 20px;
    color: #333;
  }
  
  .new-theme-details .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .new-theme-details .table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .new-theme-details .table td:first-child {
    font-weight: bold;
    color: #555;
  }
  