/* Edit.css */

.edit-container110 {
    margin: 20px;
    margin-top: 200px;
}

.custom-form110 {
    width: 400px;
    margin: auto; /* Center the form */
}

.custom-input110 {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%; /* Make the input fields full width */
}

.custom-button110 {
    margin-top: 10px;
    width: 100%; /* Make the button full width */
    height: 45px;
}

.link-buttonedit110 {
    margin-top: 10px;
    width: 100%; /* Make the link button full width */
}

.buttonedit110 {
    height: 45px;
    margin-top: 10px;
    width: 100%; /* Make the buttonedit full width */
}
