/* styles.css */

/* Apply background image for the entire page */
.bo{
    margin: 0;
    padding: 0;
    background-image: url('gate.webp');
    background-size: cover;
    height: 800px;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  /* Center the form container */
  .containerth {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  /* Box container for the form */
  .form-containerth {
      background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
      padding: 40px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Apply box shadow */
  }
  .form-containerth input[type="text"]::placeholder,
.form-containerth input[type="number"]::placeholder {
  color: #999; /* Placeholder text color */
}

  
  /* Extraordinary CSS for text fields */
  .form-containerth input[type="text"],
  .form-containerth input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
    color: #b3acac;
    transition: border-bottom 0.3s;
  }
  
  .form-containerth input[type="text"]:focus,
  .form-containerth input[type="number"]:focus {
    border-bottom: 2px solid  #214b1e; /* Change border color on focus */
  }
  
  .form-containerth button[type="submit"],
  .form-containerth button[type="button"] {
    width: 95%;
    padding: 9px;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #214b1e;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-containerth button[type="submit"]:hover,
  .form-containerth button[type="button"]:hover {
    background-color: #5a4a0b; /* Change background color on hover */
  }
  