/* styles.css */

/* Apply background image for the entire page */
.gi {
    margin: 0;
    padding: 0;
    background-image: url('blue5.avif');
    background-size: cover;
    height: 800px;
    background-position: center;
    font-family: Arial, sans-serif;
  }
  
  /* Center the form container */
  .containerad {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  /* Box container for the form */
  .form-containerad {
    width: 350px; /* Adjust the width as per your requirement */
    margin: auto; /* Center the container horizontally */
    background-color: rgba(23, 21, 21, 0.8); /* Semi-transparent background */
    padding: 40px 40px 40px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Apply box shadow */
  }
  /* Placeholder text color */
  .form-containerad input[type="text"]::placeholder,
  .form-containerad input[type="number"]::placeholder,
  .form-containerad input[type="date"]::placeholder,
  .form-containerad input[type="tel"]::placeholder,
  .form-containerad input[type="email"]::placeholder,
  .form-containerad select::placeholder {
    color: #999;
  }
  
  /* Text field styles */
  .form-containerad input[type="text"],
  .form-containerad input[type="number"],
  .form-containerad input[type="date"],
  .form-containerad input[type="tel"],
  .form-containerad input[type="email"],
  .form-containerad select {
    width: 100%;
    padding: 7px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    background: transparent;
    outline: none;
    font-size: 1.2rem;
    color: #b3acac;
    transition: border-bottom 0.3s;
  }
  
  /* Change border color on focus */
  .form-containerad input[type="text"]:focus,
  .form-containerad input[type="number"]:focus,
  .form-containerad input[type="date"]:focus,
  .form-containerad input[type="tel"]:focus,
  .form-containerad input[type="email"]:focus,
  .form-containerad select:focus {
    border-bottom: 2px solid #214b1e;
  }
  
  /* Button styles */
  .form-containerad button[type="submit"],
  .form-containerad button[type="button"] {
    width: 95%;
    padding: 9px;
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #5b5413;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Change background color on hover */
  .form-containerad button[type="submit"]:hover,
  .form-containerad button[type="button"]:hover {
    background-color: #2f3c5a;
  }
