/* Edit.css */

.edit-container {
    position: relative;
    margin: 20px;
    margin-top: 90px;
    height: 730px;
}

.edit-container::before {
    content: "";
    margin-left: -20px;
    position: absolute;
    width: 1639px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("blue5.avif") center/cover;
    opacity: 1.0; /* Adjust the opacity as needed */
    z-index: -1;
}
.custom-form {
    width: 500px;
    margin: auto; /* Center the form */
    margin-left:750px;
    background-color: rgba(0,0,0,0.5);
    padding: 56px;
    padding-top: 80px;
}

.custom-input {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%; /* Make the input fields full width */
}

.custom-button {
    margin-top: 10px;
    width: 80%; /* Make the button full width */
    height: 45px;
    margin-left: 40px;
}

.link-buttonedit {
    margin-top: 10px;
    width: 100%; /* Make the link button full width */
}
.buttonedit
{
    height: 45px;
    margin-top: 10px;
    width: 310px;
    margin-left: 40px;
}