.home1-header {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #151414;
  text-align: center;
}

.home1-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-image: url('../gif.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* Adjust the opacity value as needed */
  z-index: -1; /* Ensure the overlay is behind other content */
}

.home1-header-content {
  margin-top: 70px;
  max-width: 960px;
  font-size: 1.9rem;
}

.home1-header-title {
  text-align: center;
}

.home1-header-subtitle {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
}

.home1-header-button {
  display: block;
  background-color: #702058;
  width: 300px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 150px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.3rem;
  margin-top: 20px;
  font-weight: bolder;
}
