/* gallery.css */
.allhi {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background: rgba(255, 255, 255) url("winterr.webp") no-repeat center center / cover; /* Adjust the alpha (0.7) for opacity */
  height: 760px;
  margin-top: -30px;
}
  
  .phi {
    margin-top: 0;
    font-size: 20px;
  }
  
  .h2hi {
    font-size: 42px;
    margin-bottom: 15px;
  }
  .buti{
     text-decoration: none;
  }
  .buttonhi {
    background: #e85757;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 700;
    padding: 16px;
    width: 120px;
    color: #fff;
    text-decoration: none;
  }
  
  .containerhi {
    margin-left: 300px;
    display: flex;
    gap: 90px;
    margin-top: 100px;
  }
  
  .cardhi {
    background-size: cover;
    max-width: 300px;
    height: 350px;
    width: 250px;
    margin-top: 180px;
    padding: 40px;
    position: relative;
    color: #fff;
    transition: transform 0.1s ease;
    transform-style: preserve-3d;
    will-change: transform;
    cursor: pointer;
  }
  
  .cardhi::before {
    content: "";
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  .contenthi {
    position: relative;
    z-index: 1;
    transition: transform 0.3s ease;
  }
  
  /* Slight parallax effect on hover */
  .cardhi:hover .contenthi {
    transform: translateZ(12px);
  }
  
  #card1hi {
    background: url("bq.jpg") no-repeat;
    height: 370px;
    width: 300px;
  }
  
  #card2hi {
    background: url("product_2.jpg") no-repeat;
    height: 370px;
    width: 300px;
  }
  
  #card3hi {
    background: url("bgcoll.jpg") no-repeat;
    height: 370px;
    width: 300px;
  }
  