/* Container for the edit page */
.edit-containerp {
    margin: 20px auto;
    margin-top: 200px;
    max-width: 600px;
    padding: 20px;
    background-color: #fff; /* Background color for the container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for the container */
}

.edit-containerp h1 {
    text-align: center;
    font-size: 36px;
    color: #333; /* Title color */
}

/* Form style */
.edit-containerp form {
    margin-top: 20px;
}

.edit-containerp form label {
    font-size: 18px;
    color: #333; /* Label color */
}

.edit-containerp form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Input border color */
    border-radius: 5px;
    font-size: 16px;
}

.edit-containerp form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #203d59; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-containerp form input[type="submit"]:hover {
    background-color: #324b6b; /* Hover color for the button */
}

.edit-containerp .btn-warning {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    background-color: #ffc107; /* Cancel button background color */
    color: #333; /* Cancel button text color */
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-containerp .btn-warning:hover {
    background-color: #ffca28; /* Hover color for the cancel button */
}
