@import '@fortawesome/fontawesome-free/css/all.css';
.sidebar {
    width: 270px;
    height: 100vh;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    position: fixed;
    margin-top:35px;
    top:0px;
    border-radius:4px ;
    left: -300px;
    font-size: 20px;
    transition: left 0.3s ease;
}

.sidebar.open {
    left: 0;
    margin-bottom: 20px;
}
.sidebar ul {
    list-style: none;
    /* padding-right: 4px; */
}
.sidebar li {
    padding-bottom: 50px;
    padding-left: 1px;
    margin-left: 25px;
    /* padding-bottom:30px; */
    
    /* padding-top:10px; */
    /* background-color: rgba(0,0,0,0.5); */
  }
  .sidebar li i {
    float:left;
    padding-right: 20px;
    padding-left: 0px;
    margin-left:-30px;
    margin-top:10px;
    font-size: 24px; /* Adjust the font size of the icon */
  }
  .sidebar i
  {
  color:rgb(234, 219, 232);

}
.sidebar li:hover {
    /* background-color: black;  */
    border-radius:10px;
    width: auto;
    /* background-color: rgb(98, 98, 5); */
    /* background-color: rgba(54, 133, 223, 0.5); */
    /* box-shadow: rgba(55, 207, 207, 0.921) 0px -50px 36px -28px inset; */
  }
  .sidebar a {
    text-decoration: none;
    color:#ff9ff1;
    font-size:30px;
    font-weight: 500;
  }
  .sidebar a:hover{
    color: #c666d1;
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
  }
  .toggle-btn {
    cursor: pointer;
    position: absolute;
    top: 0px;
    left: -16px;
    padding: 10px;
    background-color:transparent;
    border: none;
    outline: none;
    text-align:center;
    border-radius: 3px;
    font-size:30px;
    height:40px;
    position:fixed;
    background-color: #000000;
    height: 90px;
    width: 1670px;
  }
  .toggle-btn i{
    color:rgb(255, 255, 255);
  font-size: 40px;
  margin-left: -1500px;
  margin-top: 15px;
  }