/* styles.css */
.order {
    margin: 5rem;
  }
  
  .order .form-group {
    margin-bottom: 1.5rem;
  }
  
  .order .form-control {
    width: 100%;
  }
  
  .order .btn-submit {
    margin-top: 1.5rem;
  }
  
  .order .btn-home {
    margin-top: 1rem;
  }
  