@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/* General styles */
.profile-body {
  margin-top: 100px;
  width: 100vw;
  margin-top: 90px;
  height: 90vh;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

/* Profile card styles */
.profile-card-wrapper {
  margin-bottom: 100px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 10px;
  margin-top: 70px;
  overflow: hidden;
  margin-left: 600px;
}

.profile-card__header {
  padding: 3rem 3.5rem;
}

.profile-card__header__pic {
  display: inline-block;
  margin: auto;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  border-radius: 45%;
  background-size: 200% 200%;
  animation: bgcolorChange 2s linear infinite;
}

/* Profile card text styles */
.call {
  font-size: 28px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 35px;
  color: #ffffff;
}

.call1 {
  font-size: 20px;
  color: #e66767;
  border-radius: 50%;
  margin-bottom: 25px;
  font-weight: 800;
}

.call2 {
  font-size: 20px;
  color: #74b9ff;
  margin-bottom: 25px;
  font-weight: 800;
}

.call3 {
  font-size: 20px;
  color: #ffb774;
  margin-bottom: 25px;
  font-weight: 800;
}

.call4 {
  font-size: 20px;
  color: hsl(276, 100%, 70%);
  margin-bottom: 0px;
  font-weight: 800;
}

/* Background image for the profile card */
.profile-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: url("color.webp") no-repeat center center/cover;
  height: 110%;
  z-index: -1;
  opacity: 0.8;
}

/* Profile image styles */
.img-pro {
  width: 100px;
  border-radius: 70px;
  height: 100px;
}

/* Social media icon styles */
.profile-card-fab {
  display: inline-block;
  color: #000000;
  margin: 0 1rem;
  font-size: 20px;
}

/* Contact Me button styles */
.profile-card-btn {
  display: inline-block;
  border: 2px solid #bd7e40;
  border-radius: 4px;
  padding: 1rem 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  background-color: #b97f44;
  text-decoration: none;
}

.profile-card-btn:hover {
  border: 2px solid #e66767;
  background: #e66767;
  color: #ececec;
  text-decoration: none;
}
