.headeri {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffdac9;
  text-align: center;
}

.headeri::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 100%;
  background-image: url('../nav_bg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.9; /* Adjust the opacity value as needed */
  z-index: -1; /* Ensure the overlay is behind other content */
}
.header-contenti {
  margin-top: 150px;
  max-width: 960px;
  font-size: 1.7rem;
}

.header-titlei {
  text-align: center;
}



.header-subtitlei {
  margin-bottom: 40px;
  font-size: 2rem;
  font-weight: bold;
}


.header-buttoni {
  display: block;
  background-color: #7b3b18;
  width: 300px;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 160px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.3rem;
  margin-top: 20px;
  font-weight: bolder;
}

